body {
	margin: 0;
  background-color: #6633cc;
	animation: bg-shift 10s linear 0s infinite normal; 
	font-family: 'Raleway', sans-serif;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  nav img {
  	margin: 1em;
  }
  h1 {
  	margin: 0.6em;
  	font-size: 4em;
  }
  #search-button {
	width: 5%;
	padding: 0;
}
  #search-button {
  	margin: 0 3em 0 1em;
  }
/*  .card {
  	width: 15%;
  	height: 250px;
  	margin: 20px;
  	text-align: center;
  	font-size: 32px;
  }*/
  #searchbar {
  	margin: 1.5em;
  	font-size: 1.5em;
  	padding: 1em;
  	display: flex;
  	flex-grow: 1;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}

nav {
	background-color: white;
	width: 100%;
	display: flex;
}
input, button {
	border: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
a {
  color: #6633cc;
  text-decoration: none;
}
nav input {
	flex-grow: 1;
}
h1, h2 {
	color: #9933cc;
}
ul {
	list-style-type: none;
}
button:focus, input:focus {
	outline: none;
}
input {
	text-align: right;
	border-radius: 15px;
}
footer {
  background-color: #efc4ef;
  width: 100%;
  text-align: center;
  box-shadow: 0 50vh 0 50vh #efc4ef;
  display: inline-flex;
}
footer p {
  margin: 15px;
}
#spacer {
  flex-grow: 1;
}
#logo{
  width: 8%;
}
#searchbar {
	background-color: rgba(204, 51, 204, 0.3);
	color: white;
}
#searchbar::placeholder {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

#app {
  display: inline-flex;
}

/*
  Flip Card Tutorial via W3 Schools
  https://www.w3schools.com/howto/howto_css_flip_card.asp
*/

.flip-card {
  background-color: transparent;
  width: 15%;
  height: 250px;
  perspective: 1000px;
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: inline;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: white;
  color: #6633cc;
  font-size: 2em;
  border-radius: 15px;
}
.flip-card-front li {
  padding-top: 100px;
}
.flip-card-back {
  background-color: #efc4ef;
  color: white;
  border-radius: 15px;
  transform: rotateY(180deg);
}
.flip-card-back p {
  padding: 10px;
}


@keyframes bg-shift {
	0% {background-color: #6633cc;}
	33% {background-color: #9933cc;}
	66% {background-color: #cc33cc;}
	100% {background-color: #6633cc;}
}