<!DOCTYPE html>
<html>
<head>
  <title>T9 Hacks Vue Todo List</title>
</head>

<body>

  <div id="app">
    <h1>{{ settings.currentGroup }}</h1>

    <button v-on:click.prevent="createGroup">Create Group</button>

    <form v-on:submit.prevent="createPlayer">
      <input type="text" placeholder="Group Number" v-model="group_id">

      <input type="text" v-model="newPlayer.name" placeholder="Player Name">

      <input type="submit" value="Create Player">

    </form>

    <div>
      <h3>Leaderboard</h3>

      <ul>
        <li v-for="player in players">
          <button v-on:click="setFocusPlayer(player)">
            <span>{{ player.name }} - {{ player.score }}</span>
          </button>
        </li>
      </ul>
    </div>

    <div v-if="focusPlayer">
      <h3>Focus Player: {{ focusPlayer.name }}</h3>

      <form v-on:submit.prevent="updateFocusPlayerScore(focusPlayer)">
        <input type="number" v-model="focusPlayer.newScore">

        <input type="submit" value="Update Player Score">
      </form>

      <button v-on:click.prevent="deleteFocusPlayer(focusPlayer)">Delete Player</button>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDKIsBo6_TwF5OeEXDTY9g_WWR4qR8QEcU",
      authDomain: "t9-todo-list.firebaseapp.com",
      databaseURL: "https://t9-todo-list.firebaseio.com"
    };
    firebase.initializeApp(config);
  </script>

  <!-- Vue -->
  <script src="https://unpkg.com/vue"></script>

  <!-- VueFire -->
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

  <script>
    var groupsRef = firebase.database().ref('groups');
    var playerScoresRef = firebase.database().ref('playerScores');

    new Vue({
      el: "#app",

      data: {
        newGroup: {
          id: Math.floor(Math.random()*90000) + 10000
        },
        newPlayer: {
          name: '',
          score: 0,
          newScore: 0
        },
        focusPlayer: null,
        group_id: null,

        settings: {
          currentGroup: null
        }
      },

      firebase: {
        players: playerScoresRef,
        groups: groupsRef
      },

      methods: {
        createGroup: function() {
          groupsRef.push(this.newGroup);
          this.newGroup.id = Math.floor(Math.random()*90000) + 10000;

          this.settings.currentGroup = this.newGroup.id
        },

        createPlayer: function() {

          groupsRef.once("value", function(snapshot) {
            snapshot.forEach(function (childSnapshot) {
              var value = childSnapshot.val();


              if (parseInt(value.id) == parseInt(this.group_id)) {
                childSnapshot.push(this.newPlayer)
              }
            });
          });


          // groupsRef.child(this.group_id).push(this.newPlayer);

          this.newPlayer.name = '';

          this.group_id = '';
        },

        updateFocusPlayerScore: function(player) {
          var totalScore = parseInt(player.newScore) + parseInt(player.score)

          playerScoresRef.child(player['.key']).update({ score: totalScore });
          this.focusPlayer.score = totalScore;
        },

        deleteFocusPlayer: function(player) {
          playerScoresRef.child(player['.key']).remove()
          this.focusPlayer = null
        },

        setFocusPlayer: function(player) {
          this.focusPlayer = player
        }
      }
    });
  </script>
</body>
</html>